# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/
*.env

.ipynb_checkpoints/

.dash/

.vscode/
.idea/

*.env
config.json

.DS_Store

Thumbs.db

*.log

*.bak
*.swp
